section {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
/* styles.css */

/* Global font and body */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fdfdfd;
  color: #ffffff;
}

/* Navbar */
.navbar {
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
  color: #050b12 !important;
}

.nav-link {
  color: #555 !important;
}

.nav-link:hover {
  color: #6ebe1d !important;
}

/* Hero/Home */

/* Gallery images */
#gallery img {
  border: 3px solid #007bff;
  transition: transform 0.3s ease;
  display: inline;
  width: 30rem;
  height: 25rem;
}

#gallery img:hover {
  transform: scale(1.05);
}

/* Buttons */
.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}

/* Contact form */
.contuct {
  background-color: #d2cbcb;
}

#contact h5 {
  font-weight: bold;
  color: #007bff;
}

#blog {
  background-color: #f9f9f9;
  padding-top: 4rem;
  padding-bottom: 4rem;
  min-height: 100vh;
}

#blog h2,
h1 {
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
#blog img {
  border-radius: 10px;
  max-width: 90%;
  height: 35rem;
  display: block;
  margin-bottom: 1rem;
  object-fit: cover;
  filter: brightness(0.8);
}

#blog p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 0;
  padding-top: 4rem;
  font-family: "Courier New", Courier, monospace;
}

.heard {
  padding-bottom: 5rem;
  color: #000000; /* Blue text */
  font-size: 3rem; /* Large size */
  text-align: center; /* Center align */
  font-family: "Arial", sans-serif; /* Font style */
  margin-bottom: 20px; /* Space below */
}
.ku {
  color: #f6f6f6; /* Blue text */
  font-size: 2rem; /* Large size */
  text-align: center; /* Center align */
  font-family: "Arial", sans-serif; /* Font style */
  margin-bottom: 20px;
}
.about-section {
  height: 50vh;
  padding: 2rem;
  overflow-y: auto;
  background-color: black;
}
.section-part {
  margin-bottom: 1%;
}
.section-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #0d6efd;
  display: inline-block;
  padding-bottom: 0.25rem;
}
.section-text {
  font-size: 1rem;
  line-height: 1.9;
}
